@{
    ViewData["Title"] = "Home Page";
}


<div class=" vh-100" style="background-image: url('../images/background-clouds2.jpg'); background-size: cover;">
    <h3 class="display-3 uvod-nadpis">PROJEKT POJIŠTĚNÍ</h3>
</div>

